<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Nunito:900&display=swap" rel="stylesheet">
    <title>Home</title>
    <style type="text/css">
        #stats{
        min-height:100%;
        }
        .fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}
.navbar-brand{
font-family: 'Nunito', sans-serif;
}


    </style>
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#">Corona Updates</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav nav-pills">
            <li class="nav-item active"><a class="nav-link active" href="{{url_for('index')}}">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="{{url_for('country')}}">Country</a></li>
            <li class="nav-item"><a class="nav-link" href="{{url_for('city')}}">City</a></li>
            <li class="nav-item"><a class="nav-link" href="{{url_for('email_alerts')}}">Email Alerts</a></li>
            <li class="nav-item"><a class="nav-link" href="{{url_for('info')}}">Info</a></li>
            <li class="nav-item"><a class="nav-link" href="{{url_for('about')}}">About</a></li>
        </ul>
    </div>
</nav>


<br>
<div class="container-fluid">
    <div class="alert alert-primary" role="alert">
        <h1>Welcome to Corona Updates</h1>
    </div>

    <div class="row">


        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-6  mr-0 ">
            <div class="jumbotron" id="stats" style="background:#e3f2fd !important;">
                <h1 class="display-4">Israel Stats:</h1>

                <p class="lead">Amount Of Cases: {{ arr[1] }}</p>
                <p class="lead">Amount Of Deaths: {{ arr[3] }}</p>
                <hr class="my-4">

                <p>Want to see more details about Israel and other countries:</p>
                <a class="btn btn-primary btn-lg" href="{{url_for('country')}}" role="button">Learn more</a>
            </div>
        </div>
        <div class="col">
            <div class="fill">
            <img class="img-fluid rounded " style="object-fit:fill;" src="/static/index_img.jpeg" alt="jacob">
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="jumbotron jumbotron-fluid " style="margin-top:20px; padding-top:20px;background:#e3f2fd !important;">
                <div class="" style="padding-top:5px;  margin-left:30px;">
                    <h3 class="display-4">Global Stats:</h3>
                    <h4 class="lead"> Total Cases: {{ glo[0] }}</h4>
                    <h4 class="lead"> Total Deaths: {{ glo[1] }}</h4>
                    <h4 class="lead"> Total Recoveries: {{ glo[2] }}</h4>
                    <h4 class="lead"> Death Percentage: {{ glo[3] }}%</h4>

                </div>
            </div>
        </div>
    </div>


</div>

</body>
</html>